.header h1 {
  font-size: 3.4rem;
  padding: 60px 50% 0 0;
  font-family: "Lato", sans-serif;
}

.header p {
  margin: 28px 50% 46px 5%;
  padding: 0;
  font-size: 0.9rem;
}

.btn {
  margin: 0 5%;
}

.invite {
  font-size: 0.9rem;
  margin: 0 20px 0 0;
  padding: 15px;
  background-color: #3994ff;
  cursor: pointer;
  border-radius: 8px;
  border-color: #3994ff;
}

.doc {
  font-size: 0.9rem;
  margin: 0 20px 0 0;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.08);
  cursor: pointer;
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.08);
}

.btn a:hover {
  text-decoration: none;
}

.invite:hover {
  background-color: #1c83f9;
}

.doc:hover {
  background-color: rgba(255, 255, 255, 0.2);
}