@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Plus+Jakarta+Sans:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


nav {
  background: #31313c;
  top: 0;
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 3;
}

label.logo {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  font-family: "Montserrat", sans-serrif;
  line-height: 80px;
  padding: 0 5%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  font-family: "Montserrat", sans-serrif;
  padding: 7px 13px;
  border-radius: 3px;
}

nav a {
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  width: 100%;
  height: 5px;
  background-color: #8bb164;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  border-radius: 50px;
}

nav a.active::after,
nav a:hover::after {
  width: 50%;
  visibility: visible;
}
.checkbtn {
  font-size: 30px;
  transform: scale(1.4);
  float: left;
  line-height: 80px;
  margin-left: 30px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media(max-width: 999x) {
  label.logo {
    font-size: 32px;
    padding: 0 10%;
  }
}

@media(max-width: 860px) {
  .checkbtn {
    display: block;
  }

  label.logo {
    font-size: 22px;
    padding-left: 5%;
  }

  nav ul {
    position: fixed;
    width: 50%;
    height: 100%;
    background: #343442;
    top: 80px;
    left: -100%;
    text-align: left;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 60px 20px;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
    color: #c2bcbc;
  }

  nav a:hover,
  nav a.active {
    background: none;
    color: #fff;
    font-weight: bold;
  }

  #check:checked~ul {
    left: 0;
  }

  nav a::after {
    display: none;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

.header a:hover,
.container a:hover {
  text-decoration: underline;
}

@media (max-width: 688px) {
  .footer {
    padding-bottom: 6%;
  }
}

p {
  color: #dcd9d9;
}

.container {
  min-height: 100%;
  position: relative;
}

.footer {
  position: absolute;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  padding-bottom: 1%;
  text-align: center;
}

.footer a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1e1e29;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}