@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Plus+Jakarta+Sans:wght@500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1e1e29;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
}

p {
  color: #dcd9d9;
}

.container {
  min-height: 100%;
  position: relative;
}

.footer {
  position: absolute;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  padding-bottom: 1%;
  text-align: center;
}

.footer a:hover {
  text-decoration: underline;
}

.header {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.header h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 170px 0 0 5%;
  color: #fff;
  font-weight: 800;
  text-align: left;
}

.header p {
  color: #dcd9d9;
  margin-bottom: 200px;
  text-align: left;
  margin: 5% 5%;
}

a {
  color: #fff;
  text-decoration: none;
}

.header a:hover,
.container a:hover {
  text-decoration: underline;
}

@media (max-width: 688px) {
  .footer {
    padding-bottom: 6%;
  }
}
